<h1>Welcome to your new Nanogen site!</h1>

<p>Congratulations! Your new site is ready! </p>

<p>Edit the files inside the <code>src</code> folder to add your own content and layout.</p>

<p>Read the documentation at 
  <a href="https://doug2k1.github.io/nanogen/" target="_blank">https://doug2k1.github.io/nanogen/</a>
  for more details.
