<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="header">
    <h1><%= site.title %></h1>
  </div>
  
  <div class="content">
    <%- body %>
  </div>

  <%- include('partials/footer') %>
</body>
</html>