html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
  color:#159957;
}

.header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.header h1 {
  color: #fff;
  margin: 0;
}

.header, .content, .footer {
  padding: 15px 30px;
}

code {
  background-color: #f3f6fa;
  color: #567482;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px;
  word-break: normal;
  white-space: pre;
}

footer {
  border-top: solid 1px #eff0f1;
  padding: 30px;
}